$active-color: #ffd700;
$inactive-color: red;
$main-color: #fff;
$match-border-color: #a4a3a3;

.match {
  &.simulated .team .member .tools {
    display: none;
  }

  .team {
    margin-bottom: 0.5rem;

    &.last {
      opacity: 0.4;
    }

    .dropzone {
      min-height: inherit;
      border: 0;
      padding: 0;

      &.active {
        box-shadow: none;
      }
    }

    .active {
      color: $active-color;
    }

    .inactive {
      color: $inactive-color;
    }

    &.no-wrestlers {
      box-shadow: 1px solid white;
    }

    &.has-wrestlers {
      .dropzone {
        background-color: transparent !important;
      }
    }

    &.has-loser .member {
      box-shadow: 0.3rem 0.3rem 0 red;
    }

    &.has-winner .member {
      box-shadow: 0.3rem 0.3rem 0 green;
    }

    .dropzone {
      transition: box-shadow 1s ease-in-out;
    }

    .no-member {
      height: 3rem;
      display: flex;
      border: 0.1rem dashed #ccc;
      outline-offset: -0.5rem;
    }

    .member {
      background-color: black;
      display: flex;
      flex-grow: 1;
      justify-content: space-between;

      .wrestler,
      div[type="wrestler"] {
        width: 100%;
        margin: 0;
      }

      .tools {
        justify-content: space-around;
        flex-direction: column;
        display: flex;
        height: 3rem;

        button {
          height: 100%;
          display: block;
        }
      }
    }
  }
}
