@import "z-index";
@import "typography";
@import "breakpoints";
@import "variables";
@import "flexboxgrid";
@import "colours";
@import "table";
@import "highlight";
@import "structure.skeleton";
@import "structure.skin";
@import "pulse";
@import "select";
@import "input";

ul {
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover,
.cursor-pointer {
  cursor: pointer;
}

.cursor-nodrop {
  cursor: no-drop;
}

.bold {
  font-weight: bolder;
}

.no-select {
  user-select: none;
}

.hide {
  display: none;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.icon:hover {
  color: hotpink;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.medium-title {
  font-size: medium;
  font-variant: normal;
}

.shadow {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

input[type="range"] {
  min-height: 1rem !important;
}

@import "overrides";
@import "mobile";
