@import "src/stylesheets/z-index";

$wrestlers-points-dimensions: 1rem;

.wrestler {
  background: #000000;
  background: linear-gradient(to right, #000000, #3c4146);
  color: white;
  position: relative;
  font-size: small;
  word-wrap: break-word;
  overflow: hidden;
  height: 3rem;
  margin: 0.4rem 0 0.2rem;
  width: 8rem;

  .inner {
    align-items: center;
    display: flex;
    height: 100%;
    background-position: bottom right;
    background-repeat: no-repeat;
  }

  &.has-image .name {
    color: white;
    letter-spacing: 0.15em;
    letter-spacing: 0.1em;
    text-shadow: -1px -1px 1px #666, 2px 2px 1px #000;
  }

  &.has-highlight {
    font-weight: bolder;
    box-shadow: 0 0 0 0.2rem red;
  }

  .name {
    font-weight: 100;
    text-align: left;
  }

  .points {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 0.5rem;
    margin: 0 0.5rem 0 0;
    height: 100%;

    sup {
      font-size: xx-small;
      margin-top: -0.5rem;
    }
  }

  .icon {
    display: inline-flex;
    font-size: 0.7rem;
    margin: 0 0.3rem;
  }

  &:hover {
    cursor: pointer;
  }
}

.ribbon {
  position: absolute;
  right: -12px;
  bottom: -11px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}

.ribbon span {
  font-size: smaller;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  width: 100px;
  display: block;
  background-color: #c99b2e;
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  bottom: 19px;
  right: -21px;
}

.ribbon span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #a78330;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #a78330;
}

.ribbon span::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #a78330;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #a78330;
}
