.page .battle-royal {
  .labels {
    font-size: small;
  }

  .tools {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .ranking {
    font-size: small;
  }

	.panel {
		padding: 1rem;

		.form-group {
			padding: 0 0 .5rem;
		}
	}
}
