$mobile: 768px;
$nav-height: 2.5rem;

.nav {
  align-items: stretch;
  display: flex;
  min-height: $nav-height;
  padding: 0 1rem;
  position: relative;

  h1 {
    margin: 0;
    a {
      text-transform: uppercase;
      font-size: large;
      font-weight: 400;
    }
  }

  a {
    text-shadow: none;
    text-transform: capitalize;
    transition: text-shadow 500ms ease;
    color: currentColor;
    align-items: center;
    display: flex;
    flex-grow: inherit;
    font-size: medium;
    padding: 0.25rem 0.5rem;

    &:hover,
    &.active {
      text-shadow: 0px 0.1rem 20px white;
      color: currentColor;
    }

    @media (max-width: $mobile) {
      justify-content: center;
      font-variant: inherit;
      font-size: small;
      padding: 1rem;
    }
  }

  ul {
    display: flex;

    li {
      list-style: none;
      padding: 0 1rem;

      ul {
        position: absolute;
        display: none;
        width: inherit;
        box-shadow: 0.1rem 0.1rem 0.1rem black;

        li {
          line-height: 1rem;
          padding: 0.5rem 0.5rem 0.2rem;
          min-width: 5rem;
        }
      }
    }
  }
}

.nav-toggle {
  @media (min-width: $mobile + 1) {
    display: none;
  }

  font-size: $nav-height;
  align-items: center;
  display: flex;
  padding-right: 1rem;
}

.nav li:hover ul {
  display: block;
}

.nav-left,
.nav-right {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
}

.nav-left {
  justify-content: flex-start;
}

.nav-right {
  justify-content: flex-end;
}

.nav-menu {
  z-index: 100;

  @media (max-width: $mobile) {
    &.nav-right {
      display: none;
      left: 0;
      right: 0;
      top: 100%;
      position: absolute;
      background-color: white;
      box-shadow: 0 4px 7px rgba(10, 10, 10, 0.1);

      a {
        padding: 0 0 1rem;
        font-size: large;
      }

      ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap-reverse;

        li {
          width: 100%;
          display: inline-block;

          ul {
            position: relative;
            display: inline-block;
            box-shadow: none;
            background: none !important;

            li {
              display: inline-block;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  .nav-menu.active {
    display: block;
  }
}
